body {
    background-color: #fafafa;
    font-family: 'Nunito Sans';
    font-weight: bold;

}

header {
    background-color: white;
}

.notActive {
    text-align: right;
    color: grey !important;
    background: white !important;
}

.active {
    text-align: right;
    color: orange !important;
    background:white !important;
}


